@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.side_padding_bg {
    background-color: #ffffff !important;

}

.navbar {
    background-color: #ffffff !important;
}

.navbar-custom{
    max-height: 35px;
}

.btn-height{
    max-height: 45px;
}

.navbar-brand {
    font-size: 1.9rem !important;
}

.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: rgb(14, 13, 13) !important;
}

.menu_active {
    font-weight: bold;
    
}

.navbar a:hover {
    color: rgb(55, 241, 160) !important;
}